.landingtextcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.landingtextcontainer > h1 {
    font-size: 2.8rem;
    padding: 80px 0 0;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    
}
.landingtextcontainer > p {
    font-family: 'Karla', sans-serif;
    padding: 15px;
    font-weight: 400;
    text-align: center;
}
.landing-button {
    display: flex;
    justify-content: center;
    
}
.landing-button > button {
   font-size: 1.1rem;
    color: white;
    border: 2px solid white;
    background-color: hsl(256, 26%, 20%);
    padding: 10px 25px;
}
.landingtext {
    text-align: center;
    padding: 40px 0;
}
.image-family-desktop > img {
    display: none;
}
.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
    
}
.landing-button {
    padding: 50px;
}
.pattern1 > img {
    position: absolute;
    top: 0;
}
.pattern2 > img {
    right: 0;
    bottom: -200px;
    position: absolute;
}
@media screen and (min-width: 768px) {
    .pattern1 > img {
        display: none;
    }
    .pattern2 > img {
        display: none;
    }
    .landingtext {
        text-align: left;
    }
    .landingtext > h1 {
        font-size: 4.1rem;
        line-height: 1;
        position: relative;
    }
    .landing-button {
        display:block;
        padding: 0;
        padding-top: 40px;
        margin-bottom: 0;
    }
    .landingtextcontainer {
        position: relative;
    }
    h1::before {
        content: '';
        width: 100px;
        background-color: white;
        height: 2px;
        position: absolute;
        left: 0px;
        top: -90px;
    }
    .dimage {
        margin-left: 55px;
    }
    .image-family > img {
        display: none;
    }
    .image-family-desktop > img {
        display: block;
        background-position: top right;
    }
    .landingpage {
        flex-direction:row;
        justify-content:space-between;
        position: relative;
    }

    .dimage {
        margin-bottom:-200px;
    }
    .landingpage {
        padding: 100px;
    }
    .header-pattern-right {
        position: absolute;
        right: 0;
        top:0;
    }
}
