.image-family > img{
   
}
.landingtext {
    text-align: center;
    padding: 20px 0;
}
.image-family-desktop > img {
    display: none;
}
.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(256, 26%, 20%);
    color: rgba(255, 255, 255, 0.8);
    
}
.landing-button {
    padding: 50px;
}

@media screen and (min-width: 768px) {
    .image-family > img {
        display: none;
    }
    .image-family-desktop > img {
        display: block;
    }
    .landingpage {
        flex-direction:row;
        justify-content:space-between
    }
    .dimage {
        margin-bottom:-150px;
    }
    .landingpage {
        padding: 100px;
    }
}