.main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    font-weight: 400;

}
p {
    font-family: 'Karla', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}
.container > h3 {
    margin: 20px 0;
}
.main-bottom {
    background-color: hsl(256, 26%, 20%);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin: 100px 0;
}
.main-bottom > h2 {
    padding: 50px;
}
.main-button {
    padding:25px;
}
.main-button > button {
    padding: 15px;
    color: white;
    border: 2px solid white;
    background-color: hsl(256, 26%, 20%);
    padding: 10px 25px;
}
.wrapper-cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .main {
        position: relative;
        margin-top: 300px;
    }
    .wrapper-cards {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        max-width: 1200px;
       
    }
    .wrapper-cards .container {
        text-align: left;
    }
   .main > h2 {
       align-self: flex-start;
       font-size: 4.2rem;
   }
   .main > h2::before {
       content: '';
       width: 100px;
       height: 2px;
       background-color: gray;
       position: absolute;
       top:-50px;
       left: 0;
   }
   .main-bottom {
       width: 100%;
       flex-direction: row;
       padding: 50px;
   }
   .main-bottom > h2 {
       padding: 0 50px;
   }
   .container {
       display: block;
       padding-right: 15px;
   }
}