.nav-button {
    color: black;
    border: 2px solid black;
    padding: 10px 25px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.nav-list {
    display:flex;
    
}

.nav-list li {
    list-style: none;
    padding: 0 15px;
    text-transform: uppercase;
}
.hamburger {
    display: flex;
    border: none;
    
}
.navbar img {
    cursor: pointer;
}
.hamburger-icon, .close-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        outline: 0;
    }
    .navbar .hamburger .close-icon {
        display: none;
    }
    .navbar .hamburger .hamburger-icon {
        display: block;
    }
    .navbar .hamburger.active .close-icon {
        display: block;
    }
    .navbar .hamburger.active .hamburger-icon {
        display: none;
    }
    .nav-list {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 700;
        position: relative;
    }
    .nav-list a {
        color: white;
    }
    .nav-list li {
        padding: 20px 0;
    }
    .nav-menu {
      position: fixed;
      top: -120%;
      background-color: hsl(270, 9%, 17%);
    }
    .nav-menu.active {
        top:92px;
        z-index: 100;
        
    }
    .nav-menu-button {
        color: black;
        border: 2px solid white;
        padding: 10px 25px;
    }
    nav
    .navbar {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .nav-pattern {
        position: absolute;
        bottom: 85px;
    }
}