.nav-list {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.nav-list a {
    color: white;
    text-decoration: none;
    
}
.nav-list li {
    list-style: none;
    font-size: 2rem;
    padding: 20px 0;
    text-transform: uppercase;
}
.nav-menu {
  position: fixed;
  top: -100%;
  background-color: hsl(270, 9%, 17%);
  transition: 850ms;
}
.nav-menu.active {
    top:0;
    z-index: 100;
    transition: 350ms;
}
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navbar img {
    cursor: pointer;
}