.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar__links {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar__right {
        display: none
    }
    .navbar__links {
        display: block;
    }
    .navbar__links > nav > ul {
        display: flex;
        list-style: none;
        text-transform: uppercase;
        
    }
    .navbar__links > nav > ul > li > a {
        text-decoration: none;
        padding: 0 10px;
    }
    .navbar {
        justify-content: space-between;
        align-items: center;
        letter-spacing: 1.5px;
        font-size: 0.8rem;
        padding: 20px 100px;
    }
    .navbar-button {
        padding: 15px;
        color: black;
        text-transform: uppercase;
        background: none;
        padding: 10px 25px;
        border: 2px solid black;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    .nav > ul{
        display:flex;
        align-items: center;
    }
    nav > ul > li > a{
        font-weight: 600;
        color: gray;
    }
}